$white-color: #ffffff;
$svg-header-color: #818181;
$header-bgcolor: rgba(0, 0, 0, 0.56);
$accent-color: #ff6b08;
$primary-text-color: #000000;
$text-color: #545454;
$error-text-color: #ff001b;
$ftr-bgcolor: #f7f7f7;
$modal-item: #8c8c8c;

// font
$font: Roboto;
$style: normal;
$weight: 500;
$size: 12px;
$height: 1.33;
$text-links--movieTitles: uppercase;
$text-ftr: underline;

$size-logo--modalTitle: 30px;
$height-logo--links--ratings--modalTitle: 1.17;

$weight-input--error--ftr: normal;
$size-input--error: 14px;
$height-input--error: 1.14;

$size-ftr: 16px;
$height-ftr: 1.19;

$height-modal: 1.67;
