.wrapper-btn {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.btn-action {
  display: block;
  min-width: 136px;
  height: 44px;
  padding-left: 38px;
  padding-right: 38px;
  background-color: transparent;
  border: 1px solid $white-color;
  box-sizing: border-box;
  border-radius: 5px;
  color: $white-color;
  text-transform: uppercase;
  font-family: $font;
  font-weight: $weight;
  font-size: 12px;
  line-height: $height;
  outline: none;
}

.btn-action:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

.active {
  background-color: $accent-color;
  border: 1px solid $accent-color;
}

.watched {
  margin-right: 15px;
}
