.current {
  // display: flex;
  justify-content: center;
  // color: yellow;
  position: relative;
  margin-bottom: 10px;
}
  .current::after {
    display: flex;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    }
.logo {
  display: flex;
  text-decoration: none;
}
.logo-film {
  margin-right: 10px;
  margin-top: 46px;
}
.logo-name {
  margin-top: 41px;
  font-size: 30px;
  color: #ffffff;
}
.main-container {
  background-image: url(../images/main.png);
  background-size: cover;
  height: 230px;
  //  background-repeat: no-repeat;
}
.header {
  display: flex;
}
.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.navigation {
  margin-top: 58px;
}
.home {
  margin-right: 39px;
  
}
.page{
  padding-bottom: 3px;
  border: none;
  background-color: transparent;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}
.form-search {
  margin-top: 113px;
  font-size: 14px;
}

.input-text {
  color: #ffffff;
  padding-bottom: 4px;
  width: 336px;
  margin-top: 20px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 0.5px solid #ffffff;
  outline: none;
}


