.logo {
  display: flex;
  text-decoration: none;
  height: 0;
}
.logo-film {
  margin-right: 10px;
  margin-top: 46px;
}
.logo-name {
  margin-top: 41px;
  font-size: 30px;
  color: $white-color;
}
.main-container {
  background-image: url(../images/desktop-home.jpg);
  height: 230px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .main-container {
    background-image: url(../images/desktop-home@2x.jpg);
  }
}
.library-main {
  background-image: url(../images/desktop-library.jpg);
  height: 230px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .library-main {
    background-image: url(../images/desktop-library@2x.jpg);
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.navigation {
  padding-top: 58px;
  height: 0;
}
.home-page {
  outline: none;
  cursor: pointer;
  margin-right: 39px;
  background-color: transparent;
  color: $white-color;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border: none;
}
.library-page {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: $white-color;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

input::-webkit-input-placeholder {
  color: $white-color;
}
.form-search {
  display: flex;
  margin-top: 40px;
  font-size: 14px;
  margin-left: 275px;
}

.input-text {
  color: $white-color;
  padding-bottom: 4px;
  width: 336px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 0.5px solid $white-color;
  outline: none;
}
.form-search--hidden {
  display: none;
}

.btn-my-library--hidden {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    background-image: url(../images/tablet-home.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-container {
      background-image: url(../images/tablet-home@2x.jpg);
    }
  }
  .library-main {
    background-image: url(../images/tablet-library.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .library-main {
      background-image: url(../images/tablet-library@2x.jpg);
    }
  }
  .navigation {
    display: flex;
  }
  .form-search {
    margin-left: 140px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container {
    background-image: url(../images/mobile-home.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-container {
      background-image: url(../images/mobile-home@2x.jpg);
    }
  }
  .library-main {
    background-image: url(../images/mobile-library.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .library-main {
      background-image: url(../images/mobile-library@2x.jpg);
    }
  }
  .input-text {
    width: 280px;
  }

  .logo-name {
    display: none;
  }
  .header-nav {
    align-items: baseline;
  }
  .form-search {
    margin: 0;
    margin-top: 38px;
  }
}

.current {
  outline: none;
  padding-bottom: 3px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
