.basicLightbox {
  overflow: scroll;
}

.team__modal {
  text-decoration: underline;
  cursor: pointer;
}

.team__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: (618px - 1)) {
    margin-top: 70px;
  }

  width: 240px;

  background-color: $white-color;
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    width: 400px;

    border-radius: 25px;
  }

  @media screen and (min-width: 1024px) {
    width: 600px;
  }
}
.team__lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 1);
}
.team__card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px 30px;

  width: calc((100% - 80px) / 1);

  @media screen and (min-width: 768px) {
    width: calc((100% - 160px) / 2);
  }

  @media screen and (min-width: 1024px) {
    margin: 15px 30px;

    width: calc((100% - 240px) / 4);
  }
}

.team__image {
  margin-bottom: 10px;

  height: 90px;
  width: 90px;

  border-radius: 50%;
}

.team__name {
  margin-bottom: 5px;
  text-align: center;

  font-family: $font;
  font-weight: 700;
}

.team__role {
  font-family: $font;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (max-width: (768px - 1)) {
    font-size: 14px;
  }

  color: $accent-color;
}
.team__modal {
  text-decoration: underline;
}

.team__git {
  transform: scale(1);

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}
