body.light-theme {
  background-color: $white-color;
}

body.dark-theme {
  background-color: $primary-text-color;
  footer {
    border-top: solid 1px rgb(68, 67, 67);
    background-color: $primary-text-color;
  }
  .gallery-list {
    h3 {
      color: $white-color;
    }

    &__item {
      transition: box-shadow 0.5s cubic-bezier(0.28, 0.7, 0.75, 0.45);
      border-radius: 5px;
      font-family: $font;
      font-weight: $weight;
      font-style: $style;
      font-size: $size;
      line-height: $height;
      &:hover {
        cursor: pointer;
        box-shadow: -2px -3px 32px -4px rgba(255, 107, 8, 0.71);
        transform: scale(1.08);
      }
    }
  }
  .pagination__container_pages {
    .pag-arrow {
      background-color: rgb(68, 67, 67);
      &:hover {
        background-color: $accent-color;
        color: $white-color;
        border-radius: 5px;
      }
    }
  }
  .pagenumbers {
    button,
    div {
      color: $white-color;
    }
  }
  .footer__page,
  .up-btn__icon {
    color: $white-color;
    fill: $white-color;
    &:hover,
    &:focus {
      transition: fill 250ms linear,
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: $accent-color;
    }
  }
  .modal-film-card {
    background-color: $primary-text-color;
    color: $white-color;
    a {
      color: $white-color;
    }
    .modal__info-list-data-vc {
      color: $primary-text-color;
    }
  }
  .team__wrapper {
    background-color: $primary-text-color;
    color: $white-color;
    .team__image {
      box-shadow: 0px -2px 32px 1px $accent-color;
    }
    .logo__icon {
      fill: $white-color;
    }
  }
}

.theme-switch {
  position: absolute;
  right: 0;
  top: 170px;
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}
.theme-switch__control {
  display: flex;
  align-items: center;
}
.theme-switch__toggle {
  display: none;
}
.theme__icon {
  display: flex;
  justify-content: space-between;
}

.sunny__icon {
  margin-left: 2px;
  height: 17px;
  width: 17px;
  @media screen and (min-width: 768px) {
    height: 25px;
    width: 25px;
  }
}

.theme-switch__toggle + label {
  display: inline-block;
  position: relative;
  width: $switchWidthMob;
  height: $switchHeightMob;
  background: linear-gradient(
      to right,
      $accent-color 0,
      #fc8b34 45%,
      $text-color 55%,
      $text-color 100%
    )
    0 0;
  background-size: (($switchWidthMob * 2) + 50) 100%;
  border-radius: 70px;
  padding: $paddingMob;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;

  @media screen and (min-width: 768px) {
    width: $switchWidth;
    height: $switchHeight;
    background-size: (($switchWidth * 2) + 50) 100%;
    padding: $padding;
  }

  &:before {
    content: '';
    width: $btnWidthMob;
    height: $btnWidthMob;
    position: absolute;
    left: $paddingMob;
    right: $paddingMob;
    border-radius: 100%;
    background: wheat;
    text-align: center;
    line-height: 16px;
    font-family: 'Cabin', sans-serif;
    font-size: 8px;
    font-weight: bold;
    color: $accent-color;
    text-transform: $text-links--movieTitles;
    transition: left 500ms ease, color 500ms ease, transform 150ms ease;

    @media screen and (min-width: 768px) {
      width: $btnWidth;
      height: $btnWidth;
      left: $padding;
      right: $padding;
      line-height: ($switchHeight - ($padding * 2));
      font-size: 14px;
    }
  }

  &:active &:before {
    transform: scale(0.95);
  }
}
.theme-switch__toggle:checked + label {
  background-position-x: -($switchWidthMob + 50);
  @media screen and (min-width: 768px) {
    background-position-x: -($switchWidth + 50);
  }
  &:before {
    content: '';
    color: $green;
    left: ($switchWidthMob - $btnWidthMob - $paddingMob);
    @media screen and (min-width: 768px) {
      left: ($switchWidth - $btnWidth - $padding);
    }
  }
}

.theme-switch__icon {
  height: 15px;
  width: 15px;
  margin-right: 4px;
  margin-left: 4px;
  @media screen and (min-width: 768px) {
    height: 30px;
    width: 30px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
